*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-image: url(bus.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper{
    background-color: white;
    width: 400px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    border-radius: 20px;
    z-index: 1;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
input{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
}
input::placeholder{
    font-size: 18px;
}

input:focus{
    outline: none;
}

button{
    padding: 15px;
    width: 200px;
    border-radius: 10px;
    background-color: rgb(0, 0, 127);
    color: white;
    border: none;
}

h3{
    font-size: 1.5rem;
}

.error{
    color: red;
    font-size: 12px;
}